// background, heading, btn
$neutral: #f2f2f2;

$border-color: #000;
$bg-color: #d9e7b4;

$p-size: 1rem;
$p-padding: 3rem;
$p-color: #ffffffbf;
$p-font: "Lexend Deca", sans-serif;
$p-wght: 400;

$header-padding: $p-size;
$header-font: "Big Shoulders Display", cursive;
$header-font-size: 1.5rem;
$header-wght: 700;

$btn-padding: 0.5em 1em;
$btn-bg: $neutral;
$btn-font-color: $p-color;
$btn-font: $p-font;
$btn-border-radius: 50px;

$first-bg-color: #eeb77c;
$second-bg-color: #006970;
$third-bg-color: #004241;
